@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Overpass:wght@300&family=Righteous&family=Roboto:wght@300;400&family=Ubuntu&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Fredoka One', cursive;
  background: #121213;
}

html .container, body .container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html .container .header, body .container .header {
  width: 100%;
  height: 8%;
  background: blueviolet;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html .container .header .logo, body .container .header .logo {
  font-size: 2rem;
  width: 20%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html .container .header .logo h2, body .container .header .logo h2 {
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html .container .header .logo h2 a, body .container .header .logo h2 a {
  text-decoration: none;
  color: #fff;
}

html .container .header .menu, body .container .header .menu {
  width: 57%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html .container .header .menu ul, body .container .header .menu ul {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html .container .header .menu ul a, body .container .header .menu ul a {
  -webkit-transition: .1s all;
  transition: .1s all;
  text-decoration: none;
  color: #fff;
  background: blueviolet;
  font-size: 1.5rem;
}

html .container .header .menu ul a:hover, body .container .header .menu ul a:hover {
  background: #000;
}

html .container .header .menu ul a li, body .container .header .menu ul a li {
  width: 100%;
  height: 100%;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 43px;
}

html .container .header .icons, body .container .header .icons {
  width: 10%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html .container .header .icons a, body .container .header .icons a {
  color: #fff;
  margin-left: 20px;
}

html .container .header .icons a i, body .container .header .icons a i {
  font-size: 3rem;
}

html .container .header .icons a i:hover, body .container .header .icons a i:hover {
  color: #000;
}

html .container .loader, body .container .loader {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html .container .loader .loading, body .container .loader .loading {
  position: relative;
}

html .container .loader .loading::before, body .container .loader .loading::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: #03e9f4;
  -webkit-animation: blinkCursor 0.8s steps(3) infinite;
          animation: blinkCursor 0.8s steps(3) infinite;
}

@-webkit-keyframes blinkCursor {
  0%, 75% {
    opacity: 1;
  }
  76%, 100% {
    opacity: 0;
  }
}

@keyframes blinkCursor {
  0%, 75% {
    opacity: 1;
  }
  76%, 100% {
    opacity: 0;
  }
}

html .container .loader .loading h2, body .container .loader .loading h2 {
  position: relative;
  color: #03e9f4;
  letter-spacing: 10px;
  font-size: 4em;
  text-transform: uppercase;
  -webkit-animation: typing 8s steps(100) infinite;
          animation: typing 8s steps(100) infinite;
  overflow: hidden;
}

@-webkit-keyframes typing {
  0%, 90%, 100% {
    width: 0;
  }
  30%, 60% {
    width: 430px;
  }
}

@keyframes typing {
  0%, 90%, 100% {
    width: 0;
  }
  30%, 60% {
    width: 430px;
  }
}
/*# sourceMappingURL=styles.css.map */