@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Overpass:wght@300&family=Righteous&family=Roboto:wght@300;400&family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    font-family: 'Fredoka One', cursive;
    background: #121213;

    .container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        .header{
            width: 100%;
            height: 7%;
            background: blueviolet;
            display: flex;
            align-items: flex-start;

            .logo{
                font-size: 2rem;
                width: 20%;
                height: 100%;
                align-items: center;
                justify-content: center;
                h2{
                    width: 100%;
                    height: 100%;
                    justify-content: center;
                    align-items: center;
                    display: flex;                    
                    user-select: none;
                    a{
                        text-decoration: none;
                        color: #fff;
                    }
                }
            }

            .menu{
               width: 57%;
               height: 100%;
               display: flex;
               justify-content: center;
                ul{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    a{
                        transition: .1s all;
                        text-decoration: none;
                        color: #fff;
                        background: blueviolet;
                        font-size: 1.5rem;
                        &:hover{
                            background: #121213;
                        }
                        li{
                            width: 100%;
                            height: 100%;
                            list-style-type: none;
                            display: flex;
                            align-items: center;
                            padding: 0 43px;
                        }
                    }   
                }
            }

            .icons{
                width: 10%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                a{
                    color: #fff;
                    margin-left: 20px;
                    i{
                        font-size: 3rem;
                        &:hover{
                            color: #121213;
                        }
                    }
                }       
            }
        }

        .loader{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            .loading{
                h2{
                    position: relative;
                    color: #03e9f4;
                    letter-spacing: 10px;
                    font-size: 4em;
                    text-transform: uppercase;
                    animation: typing 8s steps(100) infinite;
                    overflow: hidden;
                }   
            }   
        }
        .content{
            width: 100%;
            height: 100%;
        }
    }
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }