@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Ubuntu&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
}

html .container, body .container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: #222;
  /*test*/
}

html .container .cards, body .container .cards {
  width: 100%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

html .container .cards .card, body .container .cards .card {
  width: 20%;
  height: 75%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  border-radius: 20px;
  margin: 30px;
}

html .container .cards .card:hover, body .container .cards .card:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

html .container .cards .card .front, body .container .cards .card .front {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background: #71d2ff;
  border-radius: 20px;
  color: #fff;
}

html .container .cards .card .front h1, body .container .cards .card .front h1 {
  width: 100%;
  height: 15%;
  background: aqua;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 50px;
  -webkit-box-shadow: 0 5px 10px -2px black;
          box-shadow: 0 5px 10px -2px black;
}

html .container .cards .card .front p, body .container .cards .card .front p {
  width: 100%;
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 40px;
}

html .container .cards .card .back, body .container .cards .card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background: #b700ff;
  color: #fff;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  border-radius: 20px;
}

html .container .cards .card .back h1, body .container .cards .card .back h1 {
  width: 100%;
  height: 15%;
  background: #7b00ac;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 50px;
  -webkit-box-shadow: 0 5px 10px -2px black;
          box-shadow: 0 5px 10px -2px black;
}

html .container .cards .card .back p, body .container .cards .card .back p {
  width: 100%;
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 40px;
}
/*# sourceMappingURL=styles.css.map */