@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Mina&family=Nova+Square&family=Overpass:wght@300&family=Poppins&family=Righteous&family=Roboto:wght@300;400&family=Ubuntu&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html .container, body .container {
  width: 92.3%;
  height: 100%;
  background: #d4d4d4;
}

html .container .header, body .container .header {
  width: 100%;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url(yeni-juke.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html .container .header .logo-link, body .container .header .logo-link {
  width: 10%;
  height: 17%;
}

html .container .header .logo-link .logo, body .container .header .logo-link .logo {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html .container .header .logo-link .logo img, body .container .header .logo-link .logo img {
  width: 80%;
  height: 80%;
}

html .container .header .navbar, body .container .header .navbar {
  width: 60%;
  height: 17%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html .container .header .navbar ul, body .container .header .navbar ul {
  width: 100%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html .container .header .navbar ul span, body .container .header .navbar ul span {
  border: 1px solid #000;
  -webkit-transition: .2s all;
  transition: .2s all;
}

html .container .header .navbar ul span:hover, body .container .header .navbar ul span:hover {
  background: #ca0000;
  border: none;
}

html .container .header .navbar ul a, body .container .header .navbar ul a {
  -webkit-transition: .1s all;
  transition: .1s all;
  text-decoration: none;
  color: #000;
  font-size: 1rem;
}

html .container .header .navbar ul a:hover, body .container .header .navbar ul a:hover {
  border-bottom: 3px solid #000;
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

html .container .header .navbar ul a li, body .container .header .navbar ul a li {
  width: 100%;
  height: 100%;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 13px;
}

html .container .header .header-info, body .container .header .header-info {
  width: 40%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: -235px;
  margin-top: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html .container .header .header-info h1, body .container .header .header-info h1 {
  font-size: 3rem;
  letter-spacing: 4px;
}

html .container .header .header-info h1 span, body .container .header .header-info h1 span {
  color: #ca0000;
}

html .container .header .header-info button, body .container .header .header-info button {
  width: 165px;
  height: 60px;
  margin-top: 20px;
  outline: none;
  border: none;
  background: #ca0000;
  color: #fff;
  cursor: pointer;
  -webkit-transition: .3s all;
  transition: .3s all;
}

html .container .header .header-info button:hover, body .container .header .header-info button:hover {
  background: #7c0000;
}

html .container .main, body .container .main {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html .container .main .vehicles, body .container .main .vehicles {
  width: 100%;
  height: 625px;
  background: #e7e7e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html .container .main .vehicles .text, body .container .main .vehicles .text {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 150px;
}

html .container .main .vehicles .text p, body .container .main .vehicles .text p {
  font-size: 1.2rem;
}

html .container .main .vehicles .menu, body .container .main .vehicles .menu {
  width: 80%;
  height: 75px;
  border-bottom: 2px solid #000;
}

html .container .main .vehicles .menu .navbar, body .container .main .vehicles .menu .navbar {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html .container .main .vehicles .menu .navbar ul, body .container .main .vehicles .menu .navbar ul {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html .container .main .vehicles .menu .navbar ul span, body .container .main .vehicles .menu .navbar ul span {
  border-bottom: 5px solid #000;
}

html .container .main .vehicles .menu .navbar ul span:hover, body .container .main .vehicles .menu .navbar ul span:hover {
  border-bottom-color: gray;
}

html .container .main .vehicles .menu .navbar ul a, body .container .main .vehicles .menu .navbar ul a {
  -webkit-transition: .1s all;
  transition: .1s all;
  text-decoration: none;
  color: #000;
  font-size: 1rem;
}

html .container .main .vehicles .menu .navbar ul a:hover, body .container .main .vehicles .menu .navbar ul a:hover {
  color: gray;
}

html .container .main .vehicles .menu .navbar ul a li, body .container .main .vehicles .menu .navbar ul a li {
  width: 100%;
  height: 100%;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 13px;
  font-size: 1.5rem;
}

html .container .main .vehicles .cars, body .container .main .vehicles .cars {
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html .container .main .vehicles .cars .car-top, body .container .main .vehicles .cars .car-top {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html .container .main .vehicles .cars .car-top .car-info, body .container .main .vehicles .cars .car-top .car-info {
  cursor: pointer;
  width: 300px;
  height: 200px;
  background: #e7e7e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: .3s all;
  transition: .3s all;
}

html .container .main .vehicles .cars .car-top .car-info:hover, body .container .main .vehicles .cars .car-top .car-info:hover {
  background: #fff;
}

html .container .main .vehicles .cars .car-top .car-info:hover img, body .container .main .vehicles .cars .car-top .car-info:hover img {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

html .container .main .vehicles .cars .car-top .car-info img, body .container .main .vehicles .cars .car-top .car-info img {
  width: 180px;
  height: 125px;
  margin-top: 10px;
  -webkit-transition: .3s all;
  transition: .3s all;
}

html .container .main .vehicles .cars .car-top .car-info .text, body .container .main .vehicles .cars .car-top .car-info .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: centere;
      -ms-flex-align: centere;
          align-items: centere;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -15px;
}

html .container .main .vehicles .cars .car-top .car-info .text h4, html .container .main .vehicles .cars .car-top .car-info .text p, body .container .main .vehicles .cars .car-top .car-info .text h4, body .container .main .vehicles .cars .car-top .car-info .text p {
  width: 300px;
  margin-left: 125px;
}

html .container .main .vehicles .cars .car-top .car-info .text p, body .container .main .vehicles .cars .car-top .car-info .text p {
  font-size: .8rem;
}

html .container .main .vehicles .cars .car-bot, body .container .main .vehicles .cars .car-bot {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html .container .main .vehicles .cars .car-bot .car-info, body .container .main .vehicles .cars .car-bot .car-info {
  cursor: pointer;
  width: 300px;
  height: 200px;
  background: #e7e7e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: .3s all;
  transition: .3s all;
}

html .container .main .vehicles .cars .car-bot .car-info:hover, body .container .main .vehicles .cars .car-bot .car-info:hover {
  background: #fff;
}

html .container .main .vehicles .cars .car-bot .car-info:hover img, body .container .main .vehicles .cars .car-bot .car-info:hover img {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

html .container .main .vehicles .cars .car-bot .car-info img, body .container .main .vehicles .cars .car-bot .car-info img {
  width: 180px;
  height: 125px;
  margin-top: 10px;
  -webkit-transition: .3s all;
  transition: .3s all;
}

html .container .main .vehicles .cars .car-bot .car-info .text, body .container .main .vehicles .cars .car-bot .car-info .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: centere;
      -ms-flex-align: centere;
          align-items: centere;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -15px;
}

html .container .main .vehicles .cars .car-bot .car-info .text h4, html .container .main .vehicles .cars .car-bot .car-info .text p, body .container .main .vehicles .cars .car-bot .car-info .text h4, body .container .main .vehicles .cars .car-bot .car-info .text p {
  width: 300px;
  margin-left: 125px;
}

html .container .main .vehicles .cars .car-bot .car-info .text p, body .container .main .vehicles .cars .car-bot .car-info .text p {
  font-size: .8rem;
}

html .container .main .options, body .container .main .options {
  width: 80%;
  height: 200px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0;
}

html .container .main .options .option-box, body .container .main .options .option-box {
  cursor: pointer;
  -webkit-transition: .2s all;
  transition: .2s all;
  width: 275px;
  height: 100px;
  border: 1px solid #cccccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.4rem;
}

html .container .main .options .option-box:hover, body .container .main .options .option-box:hover {
  color: #fff;
  background: #ca0000;
}

html .container .main .frontier, body .container .main .frontier {
  width: 100%;
  height: 550px;
  background-image: url(all-new-frontier.jpg);
  background-size: cover;
  background-position-y: -250px;
  background-repeat: no-repeat;
  margin-bottom: 80px;
}

html .container .main .frontier .text, body .container .main .frontier .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 100px;
}

html .container .main .frontier .text p, body .container .main .frontier .text p {
  font-size: 3rem;
  margin-bottom: 10px;
}

html .container .main .frontier .text .first, body .container .main .frontier .text .first {
  width: 200px;
  height: 50px;
  outline: none;
  border: none;
  background: #ca0000;
  color: #fff;
  -webkit-transition: .2s all;
  transition: .2s all;
  margin-bottom: 10px;
  cursor: pointer;
}

html .container .main .frontier .text .first:hover, body .container .main .frontier .text .first:hover {
  background: #7c0000;
}

html .container .main .frontier .text .second, body .container .main .frontier .text .second {
  width: 200px;
  height: 50px;
  outline: none;
  border: none;
  background: #000;
  color: #fff;
  -webkit-transition: .3s all;
  transition: .3s all;
  cursor: pointer;
}

html .container .main .frontier .text .second:hover, body .container .main .frontier .text .second:hover {
  background: #535353;
}

html .container .main .three-section, body .container .main .three-section {
  width: 74%;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html .container .main .three-section .content, body .container .main .three-section .content {
  width: 35%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html .container .main .three-section .content .foto, body .container .main .three-section .content .foto {
  width: 100%;
  height: 65%;
  background-image: url(1.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
}

html .container .main .three-section .content .foto h5, body .container .main .three-section .content .foto h5 {
  color: #fff;
  text-align: center;
  letter-spacing: 5px;
}

html .container .main .three-section .content .foto2, body .container .main .three-section .content .foto2 {
  width: 100%;
  height: 65%;
  background-image: url(2.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
}

html .container .main .three-section .content .foto2 h5, body .container .main .three-section .content .foto2 h5 {
  color: #fff;
  text-align: center;
  letter-spacing: 5px;
}

html .container .main .three-section .content .foto3, body .container .main .three-section .content .foto3 {
  width: 100%;
  height: 65%;
  background-image: url(3.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
}

html .container .main .three-section .content .foto3 h5, body .container .main .three-section .content .foto3 h5 {
  color: #fff;
  text-align: center;
  letter-spacing: 5px;
}

html .container .main .three-section .content .text, body .container .main .three-section .content .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
}

html .container .main .three-section .content .text h4, body .container .main .three-section .content .text h4 {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

html .container .main .three-section .content .text p, body .container .main .three-section .content .text p {
  font-size: 0.9rem;
}

html .container .main .three-section .content button, body .container .main .three-section .content button {
  width: 200px;
  height: 50px;
  outline: none;
  border: none;
  border: 1px solid #000;
  -webkit-transition: .2s all;
  transition: .2s all;
  cursor: pointer;
}

html .container .main .three-section .content button:hover, body .container .main .three-section .content button:hover {
  background: #000;
  color: #fff;
}

html .container .main .three-section .content .but2, body .container .main .three-section .content .but2 {
  width: 200px;
  height: 50px;
  outline: none;
  border: none;
  border: 1px solid #000;
  -webkit-transition: .2s all;
  transition: .2s all;
  cursor: pointer;
  margin-top: 30px;
}

html .container .main .three-section .content .but2:hover, body .container .main .three-section .content .but2:hover {
  background: #000;
  color: #fff;
}

html .container .main .three-section .content .but3, body .container .main .three-section .content .but3 {
  width: 200px;
  height: 50px;
  outline: none;
  border: none;
  border: 1px solid #000;
  -webkit-transition: .2s all;
  transition: .2s all;
  cursor: pointer;
  margin-top: 60px;
}

html .container .main .three-section .content .but3:hover, body .container .main .three-section .content .but3:hover {
  background: #000;
  color: #fff;
}

html .container .main .catolog, body .container .main .catolog {
  width: 100%;
  height: 910px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left top, left bottom, from(#ececec), to(#fff));
  background: linear-gradient(to bottom, #ececec, #fff);
}

html .container .main .catolog .top, body .container .main .catolog .top {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 175px;
}

html .container .main .catolog .top .left, body .container .main .catolog .top .left {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html .container .main .catolog .top .left .content, body .container .main .catolog .top .left .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html .container .main .catolog .top .left .content .title, body .container .main .catolog .top .left .content .title {
  font-size: 1.5rem;
}

html .container .main .catolog .top .left .content .desc, body .container .main .catolog .top .left .content .desc {
  font-size: 2rem;
  line-height: 35px;
}

html .container .main .catolog .top .left .content button, body .container .main .catolog .top .left .content button {
  width: 275px;
  text-align: left;
  padding-left: 30px;
  height: 50px;
  outline: none;
  border: none;
  background: #000;
  color: #fff;
  -webkit-transition: .3s all;
  transition: .3s all;
  cursor: pointer;
}

html .container .main .catolog .top .left .content button:hover, body .container .main .catolog .top .left .content button:hover {
  background: #303030;
}

html .container .main .catolog .top .right, body .container .main .catolog .top .right {
  width: 40%;
  height: 60%;
  margin-top: 75px;
}

html .container .main .catolog .bot, body .container .main .catolog .bot {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html .container .main .catolog .bot .left, body .container .main .catolog .bot .left {
  width: 50%;
  height: 100%;
}

html .container .main .catolog .bot .left .content img, body .container .main .catolog .bot .left .content img {
  width: 80%;
  background-size: cover;
  background-position: center;
  height: 80%;
  margin: 0 125px;
}

html .container .main .catolog .bot .left .content h4, html .container .main .catolog .bot .left .content p, html .container .main .catolog .bot .left .content button, body .container .main .catolog .bot .left .content h4, body .container .main .catolog .bot .left .content p, body .container .main .catolog .bot .left .content button {
  margin-left: 125px;
}

html .container .main .catolog .bot .left .content p, body .container .main .catolog .bot .left .content p {
  font-size: 1.2rem;
}

html .container .main .catolog .bot .left .content button, body .container .main .catolog .bot .left .content button {
  width: 125px;
  height: 50px;
  outline: none;
  border: none;
  background: #fff;
  color: #000;
  -webkit-transition: .3s all;
  transition: .3s all;
  cursor: pointer;
  border: 1px solid #000;
}

html .container .main .catolog .bot .left .content button:hover, body .container .main .catolog .bot .left .content button:hover {
  background: #000;
  color: #fff;
}

html .container .main .catolog .bot .right, body .container .main .catolog .bot .right {
  width: 50%;
  height: 100%;
}

html .container .main .catolog .bot .right .content img, body .container .main .catolog .bot .right .content img {
  width: 80%;
  background-size: cover;
  background-position: center;
  height: 80%;
  margin: 0 25px;
}

html .container .main .catolog .bot .right .content h4, html .container .main .catolog .bot .right .content p, html .container .main .catolog .bot .right .content button, body .container .main .catolog .bot .right .content h4, body .container .main .catolog .bot .right .content p, body .container .main .catolog .bot .right .content button {
  margin-left: 25px;
}

html .container .main .catolog .bot .right .content p, body .container .main .catolog .bot .right .content p {
  font-size: 1.2rem;
}

html .container .main .catolog .bot .right .content button, body .container .main .catolog .bot .right .content button {
  width: 125px;
  height: 50px;
  outline: none;
  border: none;
  background: #fff;
  color: #000;
  -webkit-transition: .3s all;
  transition: .3s all;
  cursor: pointer;
  border: 1px solid #000;
}

html .container .main .catolog .bot .right .content button:hover, body .container .main .catolog .bot .right .content button:hover {
  background: #000;
  color: #fff;
}

html .container .main .title, body .container .main .title {
  width: 83%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 3px solid #000;
}

html .container .main .title p, body .container .main .title p {
  font-size: 2.5rem;
}

html .container .main .three-section-bottom, body .container .main .three-section-bottom {
  padding-top: 30px;
  width: 83%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html .container .main .three-section-bottom .content, body .container .main .three-section-bottom .content {
  width: 35%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html .container .main .three-section-bottom .content .foto, body .container .main .three-section-bottom .content .foto {
  width: 100%;
  height: 40%;
  background-image: url(4.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
}

html .container .main .three-section-bottom .content .foto h5, body .container .main .three-section-bottom .content .foto h5 {
  color: #fff;
  text-align: center;
  letter-spacing: 5px;
}

html .container .main .three-section-bottom .content .foto2, body .container .main .three-section-bottom .content .foto2 {
  width: 100%;
  height: 40%;
  background-image: url(5.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
}

html .container .main .three-section-bottom .content .foto2 h5, body .container .main .three-section-bottom .content .foto2 h5 {
  color: #fff;
  text-align: center;
  letter-spacing: 5px;
}

html .container .main .three-section-bottom .content .foto3, body .container .main .three-section-bottom .content .foto3 {
  width: 100%;
  height: 40%;
  background-image: url(6.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
}

html .container .main .three-section-bottom .content .foto3 h5, body .container .main .three-section-bottom .content .foto3 h5 {
  color: #fff;
  text-align: center;
  letter-spacing: 5px;
}

html .container .main .three-section-bottom .content .text, body .container .main .three-section-bottom .content .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
}

html .container .main .three-section-bottom .content .text h4, body .container .main .three-section-bottom .content .text h4 {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

html .container .main .three-section-bottom .content .text p, body .container .main .three-section-bottom .content .text p {
  font-size: 0.9rem;
}

html .container .main .three-section-bottom .content button, body .container .main .three-section-bottom .content button {
  width: 200px;
  height: 50px;
  outline: none;
  border: none;
  border: 1px solid #000;
  -webkit-transition: .2s all;
  transition: .2s all;
  cursor: pointer;
  margin-top: 40px;
}

html .container .main .three-section-bottom .content button:hover, body .container .main .three-section-bottom .content button:hover {
  background: #000;
  color: #fff;
}

html .container .main .three-section-bottom .content .but2, body .container .main .three-section-bottom .content .but2 {
  width: 200px;
  height: 50px;
  outline: none;
  border: none;
  border: 1px solid #000;
  -webkit-transition: .2s all;
  transition: .2s all;
  cursor: pointer;
  margin-top: 20px;
}

html .container .main .three-section-bottom .content .but2:hover, body .container .main .three-section-bottom .content .but2:hover {
  background: #000;
  color: #fff;
}

html .container .main .three-section-bottom .content .but3, body .container .main .three-section-bottom .content .but3 {
  width: 200px;
  height: 50px;
  outline: none;
  border: none;
  border: 1px solid #000;
  -webkit-transition: .2s all;
  transition: .2s all;
  cursor: pointer;
  margin-top: 0px;
}

html .container .main .three-section-bottom .content .but3:hover, body .container .main .three-section-bottom .content .but3:hover {
  background: #000;
  color: #fff;
}

html .container .main .newsletter, body .container .main .newsletter {
  width: 100%;
  height: 200px;
  background: #ececec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html .container .main .newsletter h2, body .container .main .newsletter h2 {
  font-size: 2rem;
  padding: 20px 0;
}

html .container .main .newsletter button, body .container .main .newsletter button {
  border: none;
  outline: none;
  width: 300px;
  height: 50px;
  background: #ca0000;
  color: #fff;
  cursor: pointer;
  -webkit-transition: .3s all;
  transition: .3s all;
}

html .container .main .newsletter button:hover, body .container .main .newsletter button:hover {
  background: #7c0000;
}

html footer, body footer {
  width: 100%;
  height: 550px;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html footer .navs, body footer .navs {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html footer .navs .list, body footer .navs .list {
  width: 100%;
  height: 80%;
  padding-left: 125px;
  padding-top: 30px;
}

html footer .navs .list ul, body footer .navs .list ul {
  color: #fff;
}

html footer .navs .list ul li, body footer .navs .list ul li {
  list-style-type: none;
  margin-top: 7px;
}

html footer .navs .list ul li a, body footer .navs .list ul li a {
  color: #acacac;
  text-decoration: none;
  font-size: 0.8rem;
}

html footer .navs .list ul li a:hover, body footer .navs .list ul li a:hover {
  text-decoration: underline;
}

html .socials, body .socials {
  width: 100%;
  height: 100px;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
}

html .socials h3, body .socials h3 {
  margin-left: 125px;
}

html .socials .icons, body .socials .icons {
  font-size: 2rem;
  margin-left: 125px;
}

html .socials .icons a, body .socials .icons a {
  color: gray;
}

html .socials .icons a:hover, body .socials .icons a:hover {
  color: #fff;
}

html .copyright, body .copyright {
  width: 100%;
  height: 100px;
  margin-top: -75px;
}

html .copyright ul, body .copyright ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html .copyright ul li, body .copyright ul li {
  list-style-type: none;
  margin: 0 20px;
}

html .copyright ul li a, body .copyright ul li a {
  text-decoration: none;
  color: gray;
}

html .copyright ul li a:hover, body .copyright ul li a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1600px) {
  html .container .header .logo-link .logo img {
    width: 120px;
    height: 100px;
  }
  html .container .header .navbar {
    width: 80%;
  }
  html .container .header .header-info {
    margin-left: -360px;
  }
  html .container .main .vehicles .cars .car-top .car-info {
    width: 290px;
  }
  html .container .main .options {
    width: 100%;
  }
  html .container .main .frontier .text {
    margin: 20px;
  }
  html .container .main .three-section .content .text p {
    font-size: 0.85rem;
  }
  html .container .main .three-section .content .but3 {
    margin-top: 29px;
  }
  html .container .main .catolog .top .right img {
    width: 450px;
  }
}

@media only screen and (max-width: 1280px) {
  html .socials h3, html .socials .icons {
    margin-left: 75px;
  }
  html .socials h3 {
    margin-top: 10px;
  }
  html .footer .navs .list {
    padding-left: 75px;
  }
  html .container .header .logo-link .logo img {
    width: 120px;
    height: 100px;
  }
  html .container .header .navbar {
    width: 80%;
  }
  html .container .header .header-info {
    margin-left: -360px;
  }
  html .container .main .vehicles .cars .car-top .car-info {
    width: 250px;
  }
  html .container .main .options {
    width: 100%;
  }
  html .container .main .frontier .text {
    margin: 20px;
  }
  html .container .main .three-section .content .text p {
    font-size: 0.85rem;
  }
  html .container .main .three-section .content .but3 {
    margin-top: 29px;
  }
  html .container .main .catolog .top .right img {
    width: 450px;
  }
}

@media only screen and (max-width: 1170px) {
  html .socials h3, html .socials .icons {
    margin-left: 75px;
  }
  html .socials h3 {
    margin-top: 10px;
  }
  html .footer .navs .list {
    padding-left: 75px;
  }
  html .container .header .logo-link .logo img {
    width: 120px;
    height: 100px;
  }
  html .container .header .navbar {
    width: 90%;
  }
  html .container .header .header-info {
    margin-left: -360px;
  }
  html .container .main .vehicles .menu .navbar ul a li {
    text-align: center;
  }
  html .container .main .vehicles .cars .car-top .car-info {
    width: 200px;
  }
  html .container .main .options {
    width: 100%;
  }
  html .container .main .frontier {
    height: 275px;
  }
  html .container .main .frontier .text {
    margin: 20px;
  }
  html .container .main .three-section .content .text p {
    font-size: 0.76rem;
  }
  html .container .main .three-section .content .but1 {
    margin-top: 8px;
  }
  html .container .main .three-section .content .but3 {
    margin-top: 29px;
  }
  html .container .main .three-section-bottom .content .text p {
    font-size: 0.9rem;
    padding: 10px;
  }
  html .container .main .catolog .top .right img {
    width: 400px;
  }
}
/*# sourceMappingURL=styles.css.map */