@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Mina&family=Nova+Square&family=Overpass:wght@300&family=Poppins&family=Righteous&family=Roboto:wght@300;400&family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    .container{
        width: 92.3%;
        height: 100%;
        background: rgb(212, 212, 212);

            .header{
                width: 100%;
                height: 700px;
                display: flex;
                justify-content: space-between;
                background-image: url(yeni-juke.jpg);
                background-size: cover;
                background-position: center;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                .logo-link{
                    width: 10%;
                    height: 17%;
                    .logo{
                       width: 100%;
                       height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img{
                            width: 80%;
                            height: 80%;
                        }
                    }
                }
                
    
                .navbar{
                    width: 60%;
                    height: 17%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: -30px;
                    user-select: none;
                     ul{
                         width: 100%;
                         height: 30%;
                         display: flex;
                         justify-content: center;
                         span{
                             border: 1px solid #000;
                             transition: .2s all;
                             &:hover{
                                 background:rgb(202, 0, 0);
                                 border: none;
                             }
                         }
                         a{
                             transition: .1s all;
                             text-decoration: none;
                             color: #000;
                             font-size: 1rem;
                             &:hover{
                                 border-bottom: 3px solid #000;
                                 transform: translateY(-.5rem);
                             }
                             li{
                                 width: 100%;
                                 height: 100%;
                                 list-style-type: none;
                                 display: flex;
                                 align-items: center;
                                 padding: 0 13px;
                             }
                         }   
                     }
                 }

                .header-info{
                    width: 40%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-around;
                    margin-left: -235px;
                    margin-top: 50px;
                    user-select: none;
                    h1{
                        font-size: 3rem;
                        letter-spacing: 4px;
                        span{
                            color: rgb(202, 0, 0);
                        }
                    }
                    button{
                        width: 165px;
                        height: 60px;
                        margin-top: 20px;
                        outline: none;
                        border: none;
                        background: rgb(202, 0, 0);
                        color: #fff;
                        cursor: pointer;
                        transition: .3s all;
                        &:hover{
                            background: rgb(124, 0, 0);
                        }
                    }
                }
            } 
            
            .main{
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;

                .vehicles{
                    width: 100%;
                    height: 625px;
                    background: rgb(231, 231, 231);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .text{
                        width: 100%;
                        height: 100px;
                        display: flex;
                        align-items: center;
                        padding: 0 150px;
                        p{
                            font-size: 1.2rem;
                        }
                    }

                    .menu{
                        width: 80%;
                        height: 75px;
                        border-bottom: 2px solid #000;
                        .navbar{
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
            
                             ul{
                                 width: 100%;
                                 height: 100%;
                                 display: flex;
                                 justify-content: space-between;
                                 span{
                                     border-bottom: 5px solid #000;
                                     &:hover{
                                         border-bottom-color: gray;
                                     }
                                 }
                                 a{
                                     transition: .1s all;
                                     text-decoration: none;
                                     color: #000;
                                     font-size: 1rem;
                                     &:hover{
                                         color: gray;
                                     }
                                     li{
                                         width: 100%;
                                         height: 100%;
                                         list-style-type: none;
                                         display: flex;
                                         align-items: center;
                                         padding: 0 13px;
                                         font-size: 1.5rem;
                                     }
                                 }   
                             }
                         }
                    }

                    .cars{
                        width: 70%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        
                        .car-top{
                            width: 100%;
                            height: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .car-info{
                                cursor: pointer;
                                width: 300px;
                                height: 200px;
                                background: rgb(231, 231, 231);
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                flex-direction: column;
                                transition: .3s all;
                                &:hover{
                                    background: #fff;
                                }
                                &:hover img{
                                    transform: translateY(-.5rem);
                                }
                                img{
                                    width: 180px;
                                    height: 125px;
                                    margin-top: 10px;
                                    transition: .3s all;
                                }
                                .text{
                                    display: flex;
                                    justify-content: center;
                                    align-items: centere;
                                    flex-direction: column;
                                    margin-top: -15px;
                                    h4,p{
                                        width: 300px;
                                        margin-left: 125px;
                                    }
                                    p{
                                        font-size: .8rem;
                                    }
                                }
                            }
                        }

                        .car-bot{
                            width: 100%;
                            height: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .car-info{
                                cursor: pointer;
                                width: 300px;
                                height: 200px;
                                background: rgb(231, 231, 231);
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                flex-direction: column;
                                transition: .3s all;
                                &:hover{
                                    background: #fff;
                                }
                                &:hover img{
                                    transform: translateY(-.5rem);
                                }
                                img{
                                    width: 180px;
                                    height: 125px;
                                    margin-top: 10px;
                                    transition: .3s all;
                                }
                                .text{
                                    display: flex;
                                    justify-content: center;
                                    align-items: centere;
                                    flex-direction: column;
                                    margin-top: -15px;
                                    h4,p{
                                        width: 300px;
                                        margin-left: 125px;
                                    }
                                    p{
                                        font-size: .8rem;
                                    }
                                }
                            }
                        }
                    }
                    
                }
                .options{
                    width: 80%;
                    height: 200px;
                    background: #fff;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    padding: 100px 0;

                    .option-box{
                        cursor: pointer;
                        transition: .2s all;
                        width: 275px;
                        height: 100px;
                        border: 1px solid rgb(204, 204, 204);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        font-size: 1.4rem;
                        &:hover{
                            color: #fff;
                            background: rgb(202, 0, 0);
                        }
                    }
                }

                .frontier{
                    width: 100%;
                    height: 550px;
                    background-image: url(all-new-frontier.jpg);
                    background-size: cover;
                    background-position-y: -250px;
                    background-repeat: no-repeat;
                    margin-bottom: 80px;
                    .text{
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        flex-direction: column;
                        margin: 100px;

                        p{
                            font-size: 3rem;
                            margin-bottom: 10px;
                        }

                        .first{
                            width: 200px;
                            height: 50px;
                            outline: none;
                            border: none;
                            background:rgb(202, 0, 0);
                            color: #fff;
                            transition: .2s all;
                            margin-bottom: 10px;
                            cursor: pointer;
                            &:hover{
                                background:rgb(124, 0, 0);
                            }
                        }

                        .second{
                            width: 200px;
                            height: 50px;
                            outline: none;
                            border: none;
                            background: #000;
                            color: #fff;
                            transition: .3s all;
                            cursor: pointer;
                            &:hover{
                                background: rgb(83, 83, 83);
                            }
                        }

                        
                    }
                }

                .three-section{
                    width: 74%;
                    height: 600px;
                    display: flex;
                    .content{
                        width: 35%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: center;

                        .foto{
                            width: 100%;
                            height: 65%;
                            background-image: url(1.jpg);
                            display: flex;
                            justify-content: center;
                            align-items: flex-end;
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-position: center;
                            margin-bottom: 10px;
                            h5{
                                color: #fff;
                                text-align: center;
                                letter-spacing: 5px;                                
                            }
                        }
                        .foto2{
                            width: 100%;
                            height: 65%;
                            background-image: url(2.jpg);
                            display: flex;
                            justify-content: center;
                            align-items: flex-end;
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-position: center;
                            margin-bottom: 10px;
                            h5{
                                color: #fff;
                                text-align: center;
                                letter-spacing: 5px;                                
                            }
                        }

                        .foto3{
                            width: 100%;
                            height: 65%;
                            background-image: url(3.jpg);
                            display: flex;
                            justify-content: center;
                            align-items: flex-end;
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-position: center;
                            margin-bottom: 10px;
                            h5{
                                color: #fff;
                                text-align: center;
                                letter-spacing: 5px;                                
                            }
                        }

                        .text{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                            text-align: center;
                            margin-bottom: 20px;
                            h4{
                                font-size: 1.3rem;
                                margin-bottom: 10px;
                            }
                            p{
                                font-size: 0.9rem;
                            }
                        }

                        button{
                            width: 200px;
                            height: 50px;
                            outline: none;
                            border: none;
                            border: 1px solid #000;
                            transition: .2s all;
                            cursor: pointer;
                            &:hover{
                                background: #000;
                                color: #fff;
                            }
                        }

                        .but2{
                            width: 200px;
                            height: 50px;
                            outline: none;
                            border: none;
                            border: 1px solid #000;
                            transition: .2s all;
                            cursor: pointer;
                            margin-top: 30px;
                            &:hover{
                                background: #000;
                                color: #fff;
                            }
                        }

                        .but3{
                            width: 200px;
                            height: 50px;
                            outline: none;
                            border: none;
                            border: 1px solid #000;
                            transition: .2s all;
                            cursor: pointer;
                            margin-top: 60px;
                            &:hover{
                                background: #000;
                                color: #fff;
                            }
                        }
                        
                    }
                    
                }

                .catolog{
                    width: 100%;
                    height: 910px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    flex-direction: column;
                    background: linear-gradient(to bottom, rgb(236, 236, 236), #fff);

                    .top{
                        width: 100%;
                        height: 50%;
                        display: flex;
                        padding: 0 175px;

                        .left{
                            width: 50%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            .content{
                                display: flex;
                                flex-direction: column;
                                .title{
                                    font-size: 1.5rem;
                                }
    
                                .desc{
                                    font-size: 2rem;
                                    line-height: 35px;
                                }
    
                                button{
                                    width: 275px;
                                    text-align: left;
                                    padding-left: 30px;
                                    height: 50px;
                                    outline: none;
                                    border: none;
                                    background: #000;
                                    color: #fff;
                                    transition: .3s all;
                                    cursor: pointer;
    
                                    &:hover{
                                        background: rgb(48, 48, 48);
                                    }
                                }
                            }

                            
                        }

                        .right{
                            width: 40%;
                            height: 60%;
                            margin-top: 75px;
                        }
                    }

                    .bot{
                        width: 100%;
                        height: 100%;
                        display: flex;

                        .left{
                            width: 50%;
                            height: 100%;

                            .content{
                                img{
                                    width: 80%;
                                    background-size: cover;
                                    background-position: center;
                                    height: 80%;
                                    margin: 0 125px;
                                }

                                h4,p,button{
                                    margin-left: 125px;
                                }

                                p{
                                    font-size: 1.2rem;
                                }
                                button{
                                    width: 125px;
                                    height: 50px;
                                    outline: none;
                                    border: none;
                                    background: #fff;
                                    color: #000;
                                    transition: .3s all;
                                    cursor: pointer;
                                    border: 1px solid #000;
    
                                    &:hover{
                                         background: #000;
                                         color: #fff;
                                    }
                                }
                            }
                        }
                        .right{
                            width: 50%;
                            height: 100%;

                            .content{
                                img{
                                    width: 80%;
                                    background-size: cover;
                                    background-position: center;
                                    height: 80%;
                                    margin: 0 25px;
                                }

                                h4,p,button{
                                    margin-left: 25px;
                                }

                                p{
                                    font-size: 1.2rem;
                                }
                                button{
                                    width: 125px;
                                    height: 50px;
                                    outline: none;
                                    border: none;
                                    background: #fff;
                                    color: #000;
                                    transition: .3s all;
                                    cursor: pointer;
                                    border: 1px solid #000;
    
                                    &:hover{
                                         background: #000;
                                         color: #fff;
                                    }
                                }
                            }
                        }
                    }
                }

                .title{
                    width: 83%;
                    height: 80px;
                    display: flex;
                    justify-content: left;
                    align-items: center;
                    border-bottom: 3px solid #000;
                    p{
                        font-size: 2.5rem;
                    }
                }

                .three-section-bottom{
                    padding-top: 30px;
                    width: 83%;
                    height: 500px;
                    display: flex;
                    .content{
                        width: 35%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: center;

                        .foto{
                            width: 100%;
                            height: 40%;
                            background-image: url(4.jpg);
                            display: flex;
                            justify-content: center;
                            align-items: flex-end;
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-position: center;
                            margin-bottom: 10px;
                            h5{
                                color: #fff;
                                text-align: center;
                                letter-spacing: 5px;                                
                            }
                        }
                        .foto2{
                            width: 100%;
                            height: 40%;
                            background-image: url(5.jpg);
                            display: flex;
                            justify-content: center;
                            align-items: flex-end;
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-position: center;
                            margin-bottom: 10px;
                            h5{
                                color: #fff;
                                text-align: center;
                                letter-spacing: 5px;                                
                            }
                        }

                        .foto3{
                            width: 100%;
                            height: 40%;
                            background-image: url(6.jpg);
                            display: flex;
                            justify-content: center;
                            align-items: flex-end;
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-position: center;
                            margin-bottom: 10px;
                            h5{
                                color: #fff;
                                text-align: center;
                                letter-spacing: 5px;                                
                            }
                        }

                        .text{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                            text-align: center;
                            margin-bottom: 20px;
                            h4{
                                font-size: 1.3rem;
                                margin-bottom: 10px;
                            }
                            p{
                                font-size: 0.9rem;
                            }
                        }

                        button{
                            width: 200px;
                            height: 50px;
                            outline: none;
                            border: none;
                            border: 1px solid #000;
                            transition: .2s all;
                            cursor: pointer;
                            margin-top: 40px;
                            &:hover{
                                background: #000;
                                color: #fff;
                            }
                        }

                        .but2{
                            width: 200px;
                            height: 50px;
                            outline: none;
                            border: none;
                            border: 1px solid #000;
                            transition: .2s all;
                            cursor: pointer;
                            margin-top: 20px;
                            &:hover{
                                background: #000;
                                color: #fff;
                            }
                        }

                        .but3{
                            width: 200px;
                            height: 50px;
                            outline: none;
                            border: none;
                            border: 1px solid #000;
                            transition: .2s all;
                            cursor: pointer;
                            margin-top: 0px;
                            &:hover{
                                background: #000;
                                color: #fff;
                            }
                        }
                        
                    }
                    
                }

                .newsletter{
                    width: 100%;
                    height: 200px;
                    background: rgb(236, 236, 236);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    h2{
                        font-size: 2rem;
                        padding: 20px 0;
                    }

                    button{
                        border: none;
                        outline: none;
                        width: 300px;
                        height: 50px;
                        background: rgb(202, 0, 0);
                        color: #fff;
                        cursor: pointer;
                        transition: .3s all;
                        &:hover{
                            background: rgb(124, 0, 0);
                        }
                    }
                }
            }  
        }

        footer{
            width: 100%;
            height: 550px;
            background: #000;
            display: flex;
            flex-direction: column;

            .navs{
                width: 100%;
                height: 100%;
                display: flex;
                .list{
                    width: 100%;
                    height: 80%;
                    padding-left: 125px;
                    padding-top: 30px;
                    ul{
                        color: #fff;
                        li{
                            list-style-type: none;
                            margin-top: 7px;
                            a{
                                color: rgb(172, 172, 172);
                                text-decoration: none;
                                font-size: 0.8rem;
                                &:hover{
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }

            
        }
        .socials{
            width: 100%;
            height: 100px;
            margin-bottom: 100px;
            display: flex;
            flex-direction: column;
            color: #fff;
            border-bottom: 1px solid gray;
            padding-bottom: 20px;
            h3{
                margin-left: 125px;
            }
            .icons{
                font-size: 2rem;
                margin-left: 125px;
                a{
                    color: gray;
                    &:hover{
                        color: #fff;
                    }
                }
            }
        }

        .copyright{
            width: 100%;
            height: 100px;
            margin-top: -75px;
            ul{
                display: flex;
                justify-content: center;
                align-items: center;
                li{
                    list-style-type: none;
                    margin: 0 20px;
                    a{
                        text-decoration: none;
                        color: gray;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
