* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background: #444;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: sans-serif;
  background-image: url(background.jpg);
}

html .container, body .container {
  padding-top: 1px;
  width: 100%;
  height: 100%;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-repeat: repeat-y;
}

html .container .header, body .container .header {
  width: 50%;
  height: 10%;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  margin-top: 10px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html .container .header h1, body .container .header h1 {
  font-size: 3rem;
  color: #fff;
}

html .container .content, body .container .content {
  width: 50%;
  height: 75%;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  margin-top: 10px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html .container .content .content-top, body .container .content .content-top {
  width: 100%;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html .container .content .content-top .foto1, body .container .content .content-top .foto1 {
  background-image: url(snake.jpg);
  width: 250px;
  height: 250px;
  border-radius: 10px;
}

html .container .content .content-top .lipsum1, body .container .content .content-top .lipsum1 {
  width: 75%;
  margin-left: 20px;
  color: #111;
}

html .container .content .content-bot, body .container .content .content-bot {
  width: 100%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html .container .content .content-bot .lipsum1, body .container .content .content-bot .lipsum1 {
  width: 65%;
  margin-top: 23px;
  color: #111;
}

html .container .content .content-bot .foto1, body .container .content .content-bot .foto1 {
  width: 275px;
  height: 350px;
  border-radius: 10px;
  margin-left: 16px;
  margin-top: 23px;
  background-size: cover;
}

html .container .footer, body .container .footer {
  width: 50%;
  height: 10%;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  margin-top: 10px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html .container .footer .icons, body .container .footer .icons {
  font-size: 4rem;
}

html .container .footer .icons a, body .container .footer .icons a {
  text-decoration: none;
}

html .container .footer .icons #ins, body .container .footer .icons #ins {
  -webkit-transition: .3s;
  transition: .3s;
  color: #c000c0;
  padding: 10px 20px;
}

html .container .footer .icons #ins:hover, body .container .footer .icons #ins:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

html .container .footer .icons #you, body .container .footer .icons #you {
  padding: 10px 20px;
  -webkit-transition: .3s;
  transition: .3s;
  color: red;
}

html .container .footer .icons #you:hover, body .container .footer .icons #you:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

html .container .footer .icons #lin, body .container .footer .icons #lin {
  -webkit-transition: .3s;
  transition: .3s;
  color: #18beff;
  padding: 10px 20px;
}

html .container .footer .icons #lin:hover, body .container .footer .icons #lin:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

@media only screen and (max-width: 380px) {
  html .container, body .container {
    background-size: cover;
  }
  html .container .header, body .container .header {
    width: 90%;
  }
  html .container .content, body .container .content {
    width: 90%;
    height: auto;
  }
  html .container .content .content-top, body .container .content .content-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-size: unset;
  }
  html .container .content .content-top .foto1, body .container .content .content-top .foto1 {
    width: 275px;
    height: 250px;
    border-radius: 10px;
  }
  html .container .content .content-top .lipsum1, body .container .content .content-top .lipsum1 {
    width: 100%;
    margin-left: 0px;
    color: #111;
  }
  html .container .content .content-bot, body .container .content .content-bot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-size: unset;
  }
  html .container .content .content-bot .foto1, body .container .content .content-bot .foto1 {
    width: 275px;
    height: 300px;
    margin-left: 0;
    background: whitesmoke;
  }
  html .container .content .content-bot .lipsum1, body .container .content .content-bot .lipsum1 {
    width: 100%;
    margin-left: 0px;
    color: #111;
    border-radius: 10px;
  }
  html .container .footer, body .container .footer {
    width: 90%;
  }
  html .container .footer .icons, body .container .footer .icons {
    font-size: 3.5rem;
  }
}
/*# sourceMappingURL=styles.css.map */