*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-image: url(background.jpg);

    .container{
        padding-top: 1px;
        width: 100%;
        height: 100%;
        background-size: cover;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        background-repeat: repeat-y;

        .header{
            width: 50%;
            height: 10%;
            background: rgba(255,255,255, .2);
            backdrop-filter: blur(10px);
            margin-top: 10px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            
            h1{
                font-size: 3rem;
                color: #fff;
            }
        }
        
        .content{
            width: 50%;
            height: 75%;
            background: rgba(255,255,255, .2);
            backdrop-filter: blur(10px);
            margin-top: 10px;
            border-radius: 10px;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            padding: 30px;
            flex-direction: column;
            .content-top{
                width: 100%;
                height: 40%;
                display: flex;
                .foto1{
                    background-image: url(snake.jpg);
                    width: 250px;
                    height: 250px;
                    border-radius: 10px;
                }
    
                .lipsum1{
                    width: 75%;
                    margin-left: 20px;
                    color: #111;
                }
            }

            .content-bot{
                width: 100%;
                height: 60%;
                display: flex;

                .lipsum1{
                    width: 65%;
                    margin-top: 23px;
                    color: #111;
                }
                .foto1{
                    width: 275px;
                    height: 350px;
                    border-radius: 10px;
                    margin-left: 16px;
                    margin-top: 23px;
                    background-size: cover;
                }
            }
            
        }

        .footer{
            width: 50%;
            height: 10%;
            background: rgba(255,255,255, .2);
            backdrop-filter: blur(10px);
            margin-top: 10px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            .icons{
                font-size: 4rem;
                a{
                    text-decoration: none;
                }
                #ins{
                    transition: .3s;
                    color: rgb(192, 0, 192);
                    padding: 10px 20px;
                    &:hover{
                        transform: translateY(-.5rem);
                    }
                }
                #you{
                    padding: 10px 20px;
                    transition: .3s;
                    &:hover{
                        transform: translateY(-.5rem);
                    }
                    color: red;
                }
                #lin{
                    transition: .3s;
                    color: rgb(24, 190, 255);
                    padding: 10px 20px;
                    &:hover{
                        transform: translateY(-.5rem);
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 380px){
    html,body{
        .container{
            background-size: cover;
            .header{
                width: 90%;
            }

            .content{
                width: 90%;
                height: auto;
                .content-top{
                    display: flex;
                    flex-direction: column;
                    background-size: unset;
                    .foto1{
                        width: 275px;
                        height: 250px;
                        border-radius: 10px;
                    }
        
                    .lipsum1{
                        width: 100%;
                        margin-left: 0px;
                        color: #111;
                    }
                }

                .content-bot{
                    display: flex;
                    flex-direction: column;
                    background-size: unset;
                    .foto1{
                        width: 275px;
                        height: 300px;
                        margin-left: 0;
                        background:whitesmoke;
                    }
        
                    .lipsum1{
                        width: 100%;
                        margin-left: 0px;
                        color: #111;
                        border-radius: 10px;
                    }
                }
            }

            .footer{
                width: 90%;
                .icons{
                    font-size: 3.5rem;
                }
            }
        }
    }
}